<app-datosPersonales [(ngModel)]="datosPersonales" #datosPersonalesComponent
            ngClass="col-complete p-4" [submited]="submited" (consultarCedula)="identificadorCambios()"
            [loading]="loading" [disable]="deshabilitarDatosPersonales"
            [visibletitulo]="false" [visibleFields]="visibleFields"
            [fieldsToDisable]="fieldsToDisableDatosPersonales"
            classFiels="col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6">
    
        <form [formGroup]="formDatos" class="col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6">
            <h4>SELECCIONA TUS INTERESES</h4>
            <p-listbox #listaEtiquetasComp
                [filter]="true" 
                [options]="listaInteres" 
                [(ngModel)]="interesesSeleccionados"
                formControlName="intereses"
                optionLabel="etiqueta" 
                [style]="{'width':'100%'}" 
                [multiple]="true"
                [checkbox]="true"
                [ngClass]="{'ng-invalid': fieldIsValid('intereses'), 'ng-dirty': fieldIsValid('intereses')}"
                [metaKeySelection]="false">
            </p-listbox>
            <app-formMensageError [control]="formDatos.controls['intereses']" [submited]="submited"></app-formMensageError>

            <p-card *ngIf="!listaInteres" [style]="{'width':'100%'}">
                <p-skeleton height="2rem" styleClass="mb-2" borderRadius="16px" />
                <p-skeleton height="2rem" styleClass="mb-2" borderRadius="16px" />
                <p-skeleton height="2rem" styleClass="mb-2" borderRadius="16px" />
            </p-card>
        </form>

    <app-terminosCondiciones [(ngModel)]="terminosCondiciones" #terminosCondicionesComp
            ngClass="col-complete p-4" [submited]="submited"></app-terminosCondiciones>

</app-datosPersonales>


<div class="flex gap-3 mt-1">
    <p-button label="Grabar" class="w-full" styleClass="w-full" 
    (onClick)="grabar()" [disabled]="!getIsAprobadoGrabar()"
    [loading]="loadingRegistro"/>
</div>

<p-confirmDialog>
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
            <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
            <p [innerHTML]="message.message" style="max-width: 300px;"></p>
        </div>
    </ng-template>
  </p-confirmDialog>