# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/ce-workspace/dist

# dependencies
node_modules
ce-workspace/node_modules
ce-workspace/.angular
ce-workspace/.angular

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json
/ce-workspace/projects/environments/environment.prod.ts

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/ce-workspace/.vscode/*
!/ce-workspace/.vscode/settings.json
!/ce-workspace/.vscode/tasks.json
!/ce-workspace/.vscode/launch.json
!/ce-workspace/.vscode/extensions.json
/ce-workspace/.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

*.bak
